.headerWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;

    @media (min-width: 861px) {
        justify-content: flex-end;
        padding: 12px 24px;
    }
}
