//isLoading
.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.spinner {
  animation: spin 1s linear infinite;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  border-bottom: 2px solid var(--font-primary-color);
}

.loadingText {
  color: var(--font-color);
  margin-left: 0.5rem;
}
//Error
.errorContainer {
  border: 1px solid var(--secondary-color);
  color: #dc2626;
  padding: 1rem 1.5rem;
  border-radius: 0.375rem;
}
//Empty
.emptyContainer {
  text-align: center;
  padding: 2rem;
  color: #6b7280;
}
//Todos
.tasksContainer {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 100%;
}

.taskItem {
  padding: 1rem;
  border: 1px solid var(--space-accent-color);
  border-radius: 0.5rem;
  background-color: var(--bg-color);
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  &.completed {
    opacity: 0.5;
  }
  &.important {
    border-left: 4px solid var(--accent-color);
  }
}

.taskContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.taskMain {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.checkbox {
  height: 1rem;
  width: 1rem;
  color: #2563eb;
  border-radius: 0.25rem;
}

.taskName {
  font-weight: 500;
  color: var(--font-color);

  &.completedText {
    text-decoration: line-through;
    color: #6b7280;
  }

  &.importantText {
    color: var(--accent-color);
  }
}

.taskInfo {
  font-size: 0.875rem;
  color: #4b5563;
  margin-top: 0.25rem;
}

.taskBadges {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.statusBadge {
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  border-radius: 9999px;

  &.completedBadge {
    background-color: #dcfce7;
    color: #166534;
  }

  &.activeBadge {
    background-color: #dbeafe;
    color: #1e40af;
  }
}
.taskActions{
  display: flex;
  justify-content: center;
  gap: 5px;
  .editButton{
    background-color: var(--accent-color);
    color: var(--font-primary-color);
    border: none;
    padding: 3px 0 0 3px;
  }
  .deleteButton{
    background-color: var(--secondary-color);
    border: none;
  }
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}