.app.dark {
  --bg-color: #030a11;
  --primary-color: #4096ff;
  --secondary-color: #73172f;
  --accent-color: #9d5420;
  --space-color:  #06111d;
  --space-accent-color:  #0e0b14;
  --font-primary-color: #4096ff;
  --font-color: #fff;

  --primary-color-dark: #0052a3;
  --inverted-bg-color: #000000;
  --inverted-primary-color: #ffffff;
  --red-light: #ff4444;

}