.app.dark {
  --bg-color: #393243;
  --primary-color: #668d53;
  --secondary-color: #2c2339;
  --accent-color: #734e62;
  --font-color: #f2f4f1;

  --primary-color-dark: #0052a3;
  --inverted-bg-color: #000000;
  --inverted-primary-color: #ffffff;
  --red-light: #ff4444;

}