.app.dark {
  --bg-color: #177017;
  --font-color: #FFF;
  --primary-color: #0066cc;
  --primary-color-dark: #0052a3;
  --inverted-bg-color: #000000;
  --inverted-primary-color: #ffffff;
  --red-light: #ff4444;
}