.app.normal {
  --bg-color: #c3bccd;
  --primary-color: #85ac72;
  --secondary-color: #ab97c3;
  --accent-color: #b18da0;
  --font-color: #0c0e0b;

  --primary-color-dark: #0052a3;
  --inverted-bg-color: #000000;
  --inverted-primary-color: #ffffff;
  --red-light: #ff4444;
}