.app.normal {
  --bg-color: red;
  --font-color: #FFF;
  --primary-color: #0054aa;
  --primary-color-dark: #0052a3;
  --inverted-bg-color: #000000;
  --inverted-primary-color: #ffffff;
  --red-light: #ff4444;
}