.app.normal {
  --bg-color: #fff;
  --primary-color: #4096ff;
  --space-color: #bcc6d0;
  --secondary-color: #e88ca5;
  --space-accent-color: #c9c5cd;
  --accent-color: #df9662;
  //fonts
  --font-color: #000000;
  --font-primary-color: #df9662;

  --primary-color-dark: #0052a3;
  --inverted-bg-color: #000000;
  --inverted-primary-color: #ffffff;
  --red-light: #ff4444;
}