@use "reset";
@use "styles/themes/dark.scss";
@use "styles/themes/normal.scss";
@use "styles/variables/global.scss";

.app {
  background-color: var(--bg-color);
  color: var(--font-color);
}
//.body {
//  font: var(--font-m);
//  color: var(--primary-color);
//}
//
//.app {
//  min-height: 100vh;
//  background: var(--bg-color);
//}
//
//.content-page {
//  display: flex;
//}
