@use "reset";
@use "styles/themes/dark.scss";
@use "styles/themes/normal.scss";
@use "styles/variables/global.scss";

.app {
    background-color: var(--bg-color);
    color: var(--font-color);
    min-height: 100vh;
}

.body {
    font: var(--font-m);
    color: var(--primary-color);
}

.switcher {
    padding: 10px 0 0 30px;
}
