.message {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.messageText {
    color: var(--secondary-color);
    font-size: 25px;
}

@media (max-width: 480px) {
    .messageText {
        padding: 5px 0.75rem;
        font-size: 20px;
    }
}
