
.app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: "DejaVu Sans";
  color: var(--font-color);
}

.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-radius: 20px;
  background-color: var(--space-color);
  .title {
    color: var(--font-primary-color);
  }
}

.main {
  display: grid;
  margin-top: 10px;
  border-radius: 20px;
  background-color: var(--space-color);
}
.filtersSection {
  display: grid;
  margin-top: 10px;
  border-radius: 20px;
  background-color: var(--space-color);
}
.sectionTasks {
  padding: 20px;
}