.Button {
  cursor: pointer;
  color: var(--bg-color);
  padding: 0;
  border: none;
  background: none;
  outline: none;

  &:hover {
    opacity: 0.8;
    fill-opacity: 0.8;
    stroke-opacity: 0.8;
  }
}